// Brands
$brand-primary: #11497b;
$brand-secondary: #3386c3;
$brand-tertiary: #34648f;
$brand-success: #4aa22c;
$brand-warning: #ffd300;
$brand-danger: #dd0028;

// Fifty shades of grey
$grey-verylight: #fcfcfc;
$grey-light: #f2f2f2;
$grey-lightmid: #dedede;
$grey: #c9c9c9;
$grey-darkmid: #999999;
$grey-dark: #727272;
$grey-verydark: #333333;

// Typography
$src: url('/fonts/GrundfosTheSansV2OT-5R.otf');
$font-family-sans-serif: "Grundfos", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #727272;

// Buttons
$btn-default-green: #4aa22c;
$btn-default-blue: #3386c3;
$btn-default-grey: #999999;

