
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


* {
	margin: 0;
	padding: 0;
}

main#register {
	height: 100vh;
	background-color: $brand-primary;
}