
//Icon fonts
@import "grundfos_generic_icons";
// Variables
@import "variables";


* {
	padding: 0px;
	margin: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

body {
	font-size: $font-size-base;
	// line-height: $line-height-base;
	color: $text-color;
	font-family: $font-family-sans-serif;
	background: $grey-verylight;
}

h1 {
	font-size: 2.3rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.3rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1.1rem;
}
p {
	font-size: 1rem;
}


/*HEADER*/
header {
	width: 100%;
	height: 50px;
	background: $brand-primary;
	color: $grey-light;
	text-align: center;
	display: table;
	a {
		color: $grey-verylight;
	}
	h1 {
		font-size: 1rem;
		line-height: 3.2rem;
	}
	section:nth-child(1) {
		width: 25%;
		text-align: left;
		padding-left: 5%;
		i {
			font-size: 1rem;
		}
	}
	section:nth-child(2) {
		width: 50%;
	}
	section:nth-child(3){
		width: 25%;
		text-align: right;
		padding-right: 5%;
		i {
			font-size: 1.3rem;
		}
	}

	section {
		display: inline-block;	
		box-sizing: border-box;
		vertical-align: middle;
	}

}


/*SEARBAR*/
.search {
	width: 100%;
	background: $grey-lightmid;
	div	{
		padding: 7px;
		position: relative;
		input {
			padding: 7px 7px 7px 30px;
			border: 1px solid $grey-light;
			box-sizing: border-box;
			width: 100%;
		}
		span {
			position: absolute;
			top: 13px;
			left: 15px;
		}
	}
}

/*ADD NEW PUMP AND CLLIENT*/
.addNew {
	width: 100%;
	display: table;
	padding: 10px 0px;
	border-bottom: 1px solid $grey-lightmid;
	div:first-child {
		border-right: 1px solid $grey-lightmid;
	}
	div {
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
		i {
			text-align: center;
			display: block;
			font-size: 1.8rem;
			color: $btn-default-green;
		}
		p {
			text-align: center;
		}
	}

}

/*BOTTOM NAVIGATION*/
nav.bottomNav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $grey-verylight;
	border-top: 1px solid $grey-lightmid;
	ul {
		display: flex;
		li {
			width: calc(100% / 4);
			list-style-type: none;
			a {
				color: $grey-verydark;
				text-decoration: none;
				padding: 10px 0px;
				display: block;
				i {
					text-align: center;
					display: block;
					font-size: 1.5rem;
				}
				p {
					text-align: center;
					font-size:0.8rem;
				}
				img {
					height: auto;
					width: 31px;
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
}


/*SEARCH RESULT FOR CATEFGORY*/
.searchResultCategory {
	margin-top: 15px;
	h2 {
		padding: 5px 10px;
		font-size: 1.3rem;
		border-bottom: 2px solid $grey-lightmid;
	}

	article:last-child {
		border-bottom: 1px solid $grey-lightmid;
	}

	article {
		border-top: 1px solid $grey-lightmid;
		padding: 10px;
		display: table;
		i {
			font-size: 1.5rem;
		}
		div:first-child {
			width: 12%;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
		div:last-child {
			width: 78%;
		}
		div {
			display: inline-block;
			vertical-align: middle;
			margin: 0% 2%;
			h3 {
				font-size: 1rem;
			}
			p {
				font-size: 0.8rem;
			}
			p.location {
				font-size: 0.6rem;
			}
		}
	}
}


/*ADD NEW PUMP FORM*/
.createForm {
	section {
		display: table;
		width: 95%;
		margin: 0px auto;
		padding: 15px 0px;
		border-bottom: 1px solid $grey-lightmid;
		div:first-child {
			width: 18%;
			font-size: 2rem;
		}
		div:last-child {
			width: 76%;
		}
		div {
			display: inline-block;
			vertical-align: middle;
			margin: 0% 1%;
		}
		label {
			text-transform: uppercase;
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
		input, select {
			width: 90%;
			padding: 7px;
			border: 1px solid $grey-lightmid;
		}
		input[type=file]{
			border: 1px dashed $grey-dark;
			opacity: 0;
		}
	}
	button {
		width: 100%;
		background-color: $btn-default-green;
		border: none;
		color: $grey-verylight;
		padding: 5px 0px;
		position: absolute;
		bottom: 0;
		left:0;
	}
}

/* Categories */

main .categories {
	article.category {
		padding: 15px 10px;
		width: 100%;
	}
	div[class^="icon"] {
		display: inline-table;
		font-size: 42px;
	}
	div.description {
		width: 78%;
		margin: 0 1% 0 0%;
	}
}

main#withMargin {
	margin-bottom:60px;
}

main#register, main#login, main#forgot {
	height: 100vh;
	background-color: $brand-primary;
	h3 {
		color: white;
		font-family: sans-serif;
		font-weight: 100;
		font-size: 1.1em;
		display: table;
		margin: 30px auto;
		a {
			color: white;
		}
	}
	#logo {
		width: 100%;
		margin-bottom: 80px;
	}
}

.form-control {
	width: 70%;
	display: block;
	margin: 20px auto;
	padding: 10px;
	border: none;
	font-size: 1.2em;
}

#registerbtn, #loginbtn, #forgotbtn {
	width: 70%;
	padding: 10px 10px;
	display: block;
	margin: 0 auto;
	background: $btn-default-green;
	border: none;
	color: $grey-verylight;
	box-sizing: initial;
	font-size: 1.2em;
}

/* Pumps */

.pump section {
	img {
		width: 100%;
		border-bottom: 1px solid #dedede;
	}
	article {
		width: 95%;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.3rem;
		margin: 6px 0;
	}
	details {
		background-color: $brand-primary;
		color: white;

	}

	.expandable {
		display: block;
		width: 95%;
		margin: 10px auto;
		border: 1px solid $brand-primary;
		background-color: $brand-primary;
		[class^="icon-gr-"]:before, [class*=" icon-gr-"]:before {
			margin-right: .6em;
		}
		h4 {
			padding: 5px;
			background-color: $brand-primary;
			color: $grey-verylight;
			width: 89%;
			display: inline-block;
		}
		.text-left {
			display: inline-block;
			width: 92%;
		}
		.icon-right {
			width: 5%;
			display: inline-block;
			color: $grey-verylight;
		}
		.dropdown-content {
			display: none;
			background-color: #f9f9f9;
			min-width: 160px;
			padding: 12px 0px 12px 16px;
			border-bottom: 1px solid $grey-lightmid;
			.icon-right {
				width: 5%;
				display: inline-block;
				color: $brand-primary;
			}
		}
	}
	.expandable:hover .dropdown-content {
		display: block;
	}
}